In [1]:
import pandas as pd
import numpy as np

In [9]:
survey_19= pd.read_csv("survey_results_public.csv")


#okunabilirlik açısından kolay olsun diye 1.projedeki gibi MainBranch kolonunu değiştirdim.
survey_19['MainBranch'].replace({'I am a student who is learning to code': 'Student',
  'I am not primarily a developer, but I write code sometimes as part of my work': 'Not a Developer',
  'I am a developer by profession':  'Developer',
  'I code primarily as a hobby':   'Code as hobby',
  'I used to be a developer by profession, but no longer am': 'Was a Developer'}, inplace=True)


#respondent sütununu index olarak ayarladım.
survey_19.set_index('Respondent', inplace = True)


#Haftalık çalışma saati (WorkWeekHrs) ya da yıllık maaş (ConvertedComp) sütunlarındaki değerleri, 
#ilgili sütunun ortalamasının %99'undan daha uzakta veri içeren satırları sildim.
survey_19.drop(survey_19[(survey_19['WorkWeekHrs'] > survey_19['WorkWeekHrs'].mean()*1.99)
                         |(survey_19['WorkWeekHrs'] < survey_19['WorkWeekHrs'].mean()*0.01)].index, inplace = True)

survey_19.drop(survey_19[(survey_19['ConvertedComp'] > survey_19['ConvertedComp'].mean()*1.99)|
                         (survey_19['ConvertedComp'] < survey_19['ConvertedComp'].mean()*0.01)].index, inplace = True)



survey_19['CompTotal'].loc[survey_19['CompFreq'] == 'Monthly'] *= 12
survey_19['CompTotal'].loc[survey_19['CompFreq']=='Weekly'] *= 50

survey_19.YearsCode.replace({'Less than 1 year': 1, 'More than 50 years':50}, inplace=True)
survey_19.YearsCodePro.replace({'Less than 1 year': 1, 'More than 50 years':50}, inplace=True)

C:\Users\Numan\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
survey_19[['ConvertedComp','CompTotal','Country']].dropna()

            ConvertedComp  CompTotal        Country
Respondent
3                  8820.0   276000.0       Thailand
4                 61000.0    61000.0  United States
9                 95179.0   138000.0    New Zealand
10                13293.0   950000.0          India
13                90000.0    90000.0  United States
...                   ...        ...            ...
88876            180000.0   180000.0  United States
88878            130000.0   130000.0  United States
88879             82488.0    72000.0        Finland
88881             68745.0    60000.0        Austria
88883             22915.0    20000.0         Greece

[50690 rows x 3 columns]

In [11]:
# Bu soru için kullanılacak kolonlar
usecols = ['ConvertedComp', 'Country','CompTotal']

df3 = pd.DataFrame(survey_19[usecols])
df3.dropna(inplace=True)

In [13]:
df3.dtypes

ConvertedComp    float64
Country           object
CompTotal        float64
dtype: object

In [14]:
dummy_df = pd.get_dummies(df3.Country)
df3 = pd.concat((df3,dummy_df), axis=1)
df3.drop(columns = ['Country'], inplace=True)

In [15]:
df3

,ConvertedComp,CompTotal,Afghanistan,Albania,Algeria,Andorra,Angola,Argentina,Armenia,Australia,...,United Kingdom,United Republic of Tanzania,United States,Uruguay,Uzbekistan,"Venezuela, Bolivarian Republic of...",Viet Nam,Yemen,Zambia,Zimbabwe
Respondent,,,,,,,,,,,,,,,,,,,,,
3,8820.0,276000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,61000.0,61000.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,95179.0,138000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,13293.0,950000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,90000.0,90000.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88876,180000.0,180000.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
88878,130000.0,130000.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
88879,82488.0,72000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88881,68745.0,60000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88883,22915.0,20000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#DataFrame i bağımlı ve bağımsız değişken olarak ayıralım
X = df3. loc[:,df3.columns != 'ConvertedComp']
y = df3.ConvertedComp
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

In [17]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
from sklearn.model_selection import cross_val_score
scores =  cross_val_score(reg,X,y,cv=10, scoring='r2')
scores

array([0.47817766, 0.46295789, 0.46672584, 0.46525764, 0.46727411,
       0.45927463, 0.47994042, 0.48366973, 0.46212092, 0.48167747])

In [18]:
from sklearn.linear_model import Lasso
reg = Lasso(alpha=0.1)
scores =  cross_val_score(reg,X,y,cv=10, scoring='r2')
scores

C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23659110993367.594, tolerance: 10889743210.17681
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23757019405351.543, tolerance: 10879496593.483122
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 28620344679741.58, tolerance: 10872599467.495043
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 28571935916724.355, tolerance: 10856062179.754486
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23856891679742.594, tolerance: 10868353677.379759
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23715369453549.3, tolerance: 10843937231.801413
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23570779960198.016, tolerance: 10869593548.990225
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23739717466818.605, tolerance: 10853705702.482553
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23669010341382.863, tolerance: 10825059769.410997
  positive)
C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23743851982414.586, tolerance: 10861305460.069
  positive)

array([0.47806997, 0.4633181 , 0.46663347, 0.46524369, 0.46729801,
       0.45917651, 0.47994863, 0.4837489 , 0.46209499, 0.48155247])

In [19]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)
mse_score = mean_squared_error(y_test, y_pred)
mae_score = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE score:", mse_score)
print("MAE score:", mae_score)
print("R2 score:", r2)

MSE score: 87402374.43137492
MAE score: 1483.6221334821394
R2 score: 0.9634721541289416